*.toDelete
output/**
*.class
*~
*.iml
*/.idea/**
.idea/**
.idea
*.log
*.log.[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]
*/.classpath
.classpath
*/.project
.project
.cache/**
target/
build/
tmp_deb_control/
tmp_rpm_control/
tmp_sh/
.gwt/
.settings/
/bin
bin/
**/dependency-reduced-pom.xml
pom.xml.versionsBackup
.DS_Store
**/.gradle
**/local.properties
**/build
**/target
**/Californium.properties
**/.env
.instance_id
rebuild-docker.sh
ui/node_modules/
application/target/thingsboard-2.4.3.jar
application/target/thingsboard-2.4.3-boot.jar
application/target/thingsboard-windows.zip
application/target/protoc-3.6.1-windows-x86_64.exe
application/target/thingsboard.deb
application/target/thingsboard.rpm
msa/
rule-engine/rule-engine-components/
transport/
.vscode/**

